.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}

button {
  background-color: powderblue;
  width: 50%;
  align-self: center;
}

.del-btn {
  background-color: indianred;
  color: white;
  width: 2.5%
}

.option-form input {
  width: 10%
}

select {
  width: 90%;
}

.labelled input {
  width: 60%;
  float: right;
}

.labelled label {
  float: left;
  font-size: small;
}

.game-name {
  padding: 0 10px;
}